html {margin:0; padding:0}
body {margin:10px; padding:10px; background-color:#202225; font-family:verdana, arial, helvetica, sans-serif; font-size:x-small}
a {color:#94ad10; text-decoration:none}
a:hover {color:#174c19; background-color:transparent}
/* -- coloration syntaxique pour source -- */
.KEYWORD {font-weight:bold}
.STRING {color:#cc3333}
.NUMBER {color:#6699cc}
.COMMENT {color:#669933; text-align:center; margin-left:auto; margin-right:auto}
/* -- divers blocs -- */
.auto-margin {margin-right:auto; margin-left:auto; text-align:center}
.Bloc-info {background-color:#cccccc; border-top-width:1px; border-right-width:1px; border-bottom-width:1px; border-left-width:1px; border-color:#999999; border-style:solid; margin-right:10px; margin-left:10px; padding-right:10px; padding-left:10px}
/* modification des règles définies dans le css de base pour aide HtmlHelp -- */
.Titre1Jaune {font-size:large; color:#174c19; font-family:impact, verdana, arial; font-weight:100}
.Titre1 {font-size:large; color:#174c19; font-family:impact, verdana, arial; font-weight:100}
/* -- Tableaux -- */
table {border-collapse:collapse; border-top-width:1px; border-right-width:1px; border-bottom-width:0; border-left-width:1px; border-color:#999999; border-style:solid}
.highlight-cell {font-weight:bold; background-color:#cccccc; border-top-width:0; border-right-width:1px; border-bottom-width:1px; border-left-width:0; border-color:#999999; border-style:solid}
td {padding-top:2px; padding-right:2px; padding-bottom:2px; padding-left:2px; border-top-width:0; border-right-width:1px; border-bottom-width:1px; border-left-width:0; border-color:#999999; border-style:solid}
/* -- Table des matières des chapitres -- */
.all-toc {border-top-width:0; border-right-width:0; border-bottom-width:1px; border-left-width:0; border-style:solid; background-color:#F5F5F5; font-size:0.9em; border-color:#959595; margin:0; padding-top:10px; padding-bottom:10px}
.all-toc h3 {padding:0; margin-top:0; margin-right:0; margin-bottom:5px; margin-left:0; font-weight:bold; padding-left:10px}
.all-toc a {color:#174c19}
.all-toc a:hover {color:#73c6ef}
.chapter-toc {border-top-width:0; border-right-width:0; border-bottom-width:1px; border-left-width:0; border-style:solid; background-color:#F5F5F5; font-size:0.8em; border-color:#959595; margin:0; padding-top:10px; padding-bottom:10px}
.chapter-toc h3 {padding:0; margin-top:0; margin-right:0; margin-bottom:5px; margin-left:0; font-weight:bold; padding-left:10px}
.chapter-toc a {color:#174c19}
.chapter-toc a:hover {color:#73c6ef}
.chapter-toc div.sitemap {margin-left:2em}
.chapter-toc #chapter-topics {margin-left:2em; padding-left:16px}
.sitemap {font-weight: bold; font-size: 120%}
.sitemap li {list-style: none}
.sitemap li ul {font-size:95%; font-weight: normal}
.sitemap li ul li {padding-left: 16px; background:url(bullet.png) no-repeat 0 4px}
.sitemap li ul li ul li {padding-left: 16px; background:url(minipage.png) no-repeat 0 4px}
div.sitemap ul {margin-top:0; margin-bottom:0}
#chapter-topics {margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0; margin-left:16px; padding:0}
.sitemap ul {margin-left:16px; padding:0}
#chapter-num {font-size:1000%; text-align:right; font-weight:bold; display:block; position:relative; right:10px; line-height:0; color:#FFF; bottom:50px; margin-top:10px}
/* -- Navigation -- */
ul.horizontal-triple {width:100%; margin-top:5px; margin-right:0; margin-bottom:0; margin-left:0; clear:both; padding-top:5px; padding-right:0; padding-bottom:0; padding-left:0; display:block; border-color:#94AD10; border-top-width:1px; border-right-width:0; border-bottom-width:0; border-left-width:0; border-style:solid}
.horizontal-triple li {display:block; float:left}
.horizontal-triple li.prev a:hover {background-image:url(hover-prev.png); background-repeat:no-repeat; background-position:left 50%}
.horizontal-triple li.next a:hover {background-image:url(hover-next.png); background-repeat:no-repeat; background-position:right 50%}
.horizontal-triple li.prev a {padding-left:25px; background-image:url(dark-prev.png); background-repeat:no-repeat; background-position:left 50%}
.horizontal-triple li.next a {padding-right:25px; background-image:url(dark-next.png); background-repeat:no-repeat; background-position:right 50%}
.horizontal-triple #active-hc {border-left: 1px solid #fff}
.horizontal-triple li.prev {text-align:left; width:22%; float:left; margin-left:5px}
.horizontal-triple li.next {text-align:right; width:22%; float:right; margin-right:5px}
.horizontal-triple li.actuel {text-align:center; width:50%; font-size:110%}
.horizontal-triple li.parent {text-align:center; width:50%; font-size:110%}
.parent {text-align:center; margin:0; padding:0}
.sommaire {display:block; text-align:center; margin-top:5px; margin-bottom:0px; margin-left:22%; width:50%; font-weight:100}
#bottom-nav {width:100%}
#nsr2 a {color:#344D00}
#nsr2 a:hover {color:#EAFF66}
#bottom a {color:#344D00}
#bottom a:hover {color:#EAFF66}
/* -- Layout - disposition des blocs -- */
#page {background-color:#ffffff}
#header-index {width:10%; float:left; vertical-align:middle; margin:0; padding:0; padding-top:5px; padding-left:25px}
#header-search {width:25%; float:right; font-size:0.6em; vertical-align:middle; margin:0; padding:0}
.cleaner {clear:both; font-size:1px; border:none; margin:0; padding:0; background:transparent; height:1px}
#top-header {width:100%; margin:0; padding:0; height:32px}
#top-header .parent {text-align:center; height:100%; vertical-align:middle}
#header-title {float:left; width:59%; margin-top:0; padding-top:5px}
#header-title a:hover {margin:0; display:block; padding-left:24%}
#header-title .parent {display:block; padding-left:24%}
#mainbody {margin:0; background-color:#ffffff; padding-bottom:10px; padding-top:0; padding-right:0; padding-left:0}
#nsr2 {border-top-width:0; border-right-width:0; border-bottom-width:4px; border-left-width:0; border-style:solid; color:#ffffff; border-color:#94AD10; margin:0; font-family:impact, verdana, arial; font-weight:100}
#footer-num {text-align:right; margin-top:5px; padding-right:5px; font-size:0.7em; color:#959595; float:right; width:30%}
#footer-print {margin-top:5px; padding-right:5px; font-size:0.7em; color:#959595; float:left; width:30%}
#footer-copyright {margin-top:5px; padding-right:5px; font-size:0.7em; color:#959595; float:left; text-align:center; width:33%}
#footer-titre {font-weight:bold; padding-right:10px}
#bottom {color:#ffffff; border-color:#94AD10; border-style:solid; border-left-width:0; border-bottom-width:0; border-top-width:4px; border-right-width:0; margin:0; padding-bottom:10px; font-family:impact, verdana, arial; font-weight:100}
#content {padding:10px; font-size:1.1em}
/* -- voir aussi -- */
ul.voir-aussi {margin-top:0; margin-bottom:0; padding-left:50px; list-style-type:none; padding-top:15px; padding-bottom:15px}
.voir-aussi {font-size:0.8em; border-top-width:1px; border-style:solid; border-right-width:0; border-bottom-width:0; border-left-width:0; background-color:#F5F5F5; background-image:url(goto.png); background-repeat:no-repeat; background-position:5px 10px; padding:10px; border-color:#959595; margin:0}
#mainbody .voir-aussi {border-top-width:0; border-style:solid; border-right-width:0; border-bottom-width:1px; border-left-width:0; background-color:#F5F5F5}
.voir-aussi li {padding-left: 16px; background: url(bullet.png) no-repeat 0 50%; list-style:none}
.voir-aussi li a {color:#174c19}
.voir-aussi li a:hover {color:#73c6ef}
/* -- Notes de bas de page -- */
#NotesPage {font-size:0.8em; border-top-width:1px; border-style:solid; border-right-width:0; border-bottom-width:0; border-left-width:0; background-color:#F5F5F5; background-image:url(info-note.png); background-repeat:no-repeat; background-position:5px 10px; padding-left:50px; padding:10px; font-style:italic; border-color:#959595; margin:0}
#NotesPage h4 {margin:0; padding:0; position:relative; top:-20px; background-color:#94ad10}
.note-impaire {}
#list-notes li {padding:5px; margin-left:50px}
/* -- note de bas de page dans le corps de la rubrique -- */
.note {font-size:75%; vertical-align:super}
/* -- recherche -- */
#search {text-align:right; padding-left: 1px; color:#ffffff; font-weight:bold; padding:5px}
.searchbutton {border: 1px solid #94AD10; color:#ffffff; background-color:#344D00}
#search #d {background: #fff url(search.png) no-repeat 2% 50%; padding: 2px 25px; border: 1px solid #94AD10; color:#94AD10}
#search label {position:relative; top:-4px}
#tip_form {margin:0; padding:0}
#tip_form p {margin:0; padding:0}
.search-result {padding-left:16px; padding-right:16px}
.search-result-odd {background-color:#f4f4f4; padding-left:16px; padding-right:16px}
.search-titre-result {padding-top:10px; font-family:impact, verdana, arial}
.search-titre-result-odd {padding-top:10px; font-family:impact, verdana, arial}
/* -- boîtes d'informations -- */
.info-note {background-color:#D5D5D5; background-image:url(info-note.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:60px; padding-top:20px; padding-right:5px; padding-bottom:20px; text-align:justify; font-style:oblique; width:80%; margin-top:10px; margin-right:auto; margin-bottom:10px; margin-left:auto}
.info-astuce {background-color:#82BBFF; background-image:url(info-astuce.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:60px; margin:10px; padding-top:20px; padding-right:5px; padding-bottom:20px; font-style:oblique; text-align:justify; width:80%; margin-top:10px; margin-right:auto; margin-bottom:10px; margin-left:auto}
.info-alerte {background-color:#FFC840; background-image:url(info-alerte.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:60px; padding-top:20px; padding-right:5px; padding-bottom:20px; text-align:justify; font-style:oblique; width:80%; margin-top:10px; margin-right:auto; margin-bottom:10px; margin-left:auto}
.info-valide {background-color:#D4ED50; background-image:url(info-valide.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:60px; padding-top:20px; padding-right:5px; padding-bottom:20px; font-style:oblique; text-align:justify; width:80%; margin-top:10px; margin-right:auto; margin-bottom:10px; margin-left:auto}
.info-info {background-color:#82BBFF; background-image:url(info-info.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:60px; padding-top:20px; padding-right:5px; padding-bottom:20px; font-style:oblique; text-align:justify; width:80%; margin-right:auto; margin-left:auto; margin-top:10px; margin-bottom:10px}
.info-avertissement {background-color:#FF7340; background-image:url(info-avertissement.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:60px; padding-top:20px; padding-right:5px; padding-bottom:20px; text-align:justify; font-style:oblique; width:80%; margin-top:10px; margin-right:auto; margin-bottom:10px; margin-left:auto}
.info-note p {z-index:2; width:95%}
.info-astuce p {z-index:2; width:95%}
.info-alerte p {z-index:2; width:95%}
.info-valide p {z-index:2; width:95%}
.info-info p {z-index:2; width:95%}
.info-avertissement p {z-index:2; width:95%}
.info-note-num {text-align:right; font-weight:bold; display:block; position:relative; right:2px; line-height:0; bottom:0; margin-top:10px; color:#F5F5F5; font-size:250%; font-style:normal; z-index:1}
.info-astuce-num {text-align:right; font-weight:bold; display:block; position:relative; right:2px; line-height:0; bottom:0; margin-top:10px; color:#A2DBFF; background-color:#427BD6; font-size:250%; font-style:normal; z-index:1}
.info-alerte-num {text-align:right; font-weight:bold; display:block; position:relative; right:2px; line-height:0; bottom:0; margin-top:10px; color:#FFE860; font-size:250%; font-style:normal; z-index:1}
.info-valide-num {text-align:right; font-weight:bold; display:block; position:relative; right:2px; line-height:0; bottom:0; margin-top:10px; color:#F4FF70; font-size:250%; font-style:normal; z-index:1}
.info-info-num {text-align:right; font-weight:bold; display:block; position:relative; right:2px; line-height:0; bottom:0; color:#A2DBFF; font-size:250%; font-style:normal; z-index:1; margin-top:10px}
.info-avertissement-num {text-align:right; font-weight:bold; display:block; position:relative; right:2px; line-height:0; margin-top:10px; color:#FF9360; font-size:250%; font-style:normal; z-index:1; bottom:0}
.info-note a {color:#fff; font-weight:bold}
.info-astuce a {color:#fff; font-weight:bold}
.info-alerte a {color:#fff; font-weight:bold}
.info-valide a {color:#fff; font-weight:bold}
.info-info a {color:#fff; font-weight:bold}
.info-avertissement a {color:#fff; font-weight:bold}
.info-note a:hover {font-weight:bold; color:#ffffff}
.info-astuce a:hover {font-weight:bold; color:#ffffff}
.info-alerte a:hover {font-weight:bold; color:#ffffff}
.info-valide a:hover {font-weight:bold; color:#ffffff}
.info-info a:hover {font-weight:bold; color:#ffffff}
.info-avertissement a:hover {font-weight:bold; color:#ffffff}
.info-link {text-align:right}
/* -- Images -- */
img {border:0px}
.conteneur-fig {padding-right:0; padding-bottom:0; padding-left:0; width:80%; text-align:center; margin-top:15px; margin-right:auto; margin-bottom:30px; margin-left:auto; padding-top:0; color:#808285; display:block}
.conteneur-fig img {background-color:#fff; border:1px solid #ececec; margin:4px 4px 4px 4px; padding:4px; vertical-align:bottom}
.img-legend {font-weight:bold; font-size:0.7em; color:#000000; background-color:#ececec; display:block; border-top-width:1px; border-right-width:1px; border-bottom-width:1px; border-left-width:1px; border-color:#999999; border-style:solid; text-align:center; width:100%; padding:4px; margin-top:0; margin-right:4px; margin-bottom:4px; margin-left:4px; font-family:georgia, times new roman, times, serif}
.shadow {padding-bottom: 25px; background-repeat:no-repeat; background-position:bottom; Background-Image:url(ss_shadow.gif)}
/* -- Faq -- */
#faq h2 {font-size:large; color:#174c19; font-weight:100; font-family:impact, verdana, arial}
#faq ul {padding-top:0; padding-bottom:4px}
.faq-question h3 {background-color:#94ad10; color:#ffffff; font-weight:bold; text-align:center; margin-bottom:0; padding-top:4px; padding-right:4px; padding-bottom:4px; padding-left:4px}
.faq-question {margin-right:30px; margin-left:30px}
.faq-reponse {margin-top:0; padding-top:10px; padding-left:10px}
.faq-categorie h2 {margin-left:15px; margin-right:15px; padding-left:10px; color:#174c19; margin-top:5px; padding-top:4px; padding-bottom:4px}
.faq-categorie {background-color:#f0f0f0; margin-right:20px; margin-left:20px; padding-bottom:20px; margin-bottom:20px; line-height:1.2}
.faq-link-home {text-align:right}
/* -- définitions -- */
.definition {cursor:help; font-style:italic; text-decoration:underline; font-weight:bold; color:#94ad10}
/* -- Index des mots clefs -- */
ul.index-a-z {list-style-type:none; font-weight:bold; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; display:inline; color:#000}
.index-a-z li {display: inline; padding-left:0; padding-right:0; padding-bottom:2px; padding-top:2px; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#000; font-weight:bold}
.index-a-z li a {text-decoration: none; border-right: 1px solid #94AD10; padding-right:5px; padding-left:5px; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; border-top-width:0; border-right-width:0; border-bottom-width:0; border-left-width:0}
.index-a-z li a:hover {color: white; background-color:#94AD10}
ul.index-key {list-style-type:none; font-weight:bold}
.index-key li {background-image:url(key-index.png); background-repeat:no-repeat; padding-left:20px; background-position:0 3px; margin-bottom:10px}
.index-key li ul {list-style-type:none; margin-left:0; margin-top:5px; padding-left:16px; border-top-width:0; border-right-width:0; border-bottom-width:2px; border-left-width:0; border-style:dotted; border-color:#F0F0F0; padding-bottom:10px}
.index-key li ul li {background-image:url(tag_green.png); background-repeat:no-repeat; padding-left:20px; margin-bottom:0}
a.go-index:hover {background-image:url(key-index.png); background-repeat:no-repeat; background-position:left 50%}
a.go-index {background-image:url(key-dark.png); background-repeat:no-repeat; background-position:left 50%; padding-left:20px; vertical-align:middle; display:block}
/* -- clean float -- */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden}
.clearfix {display: block}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%}
/* End hide from IE-mac */

.style1 {font-family:arial; font-size:18pt; font-weight:bold; color:#000}
.style2 {font-family:arial; font-size:14pt; font-weight:bold; color:#000}
.style3 {font-family:arial; font-size:10pt; color:#000}
