#mainbody {Border:0}
#list-notes {list-style-type:none; padding:0; margin:0}
#bottom {background-color:#225BB6; width:100%}
.thumb_screenshot_jpg {height:260px; width:253px; text-align:center; float:left}
.thumb_BeginStarted1_PNG {height:331px; width:384px; text-align:center; float:none}
.thumb_BeginStarted2_PNG {height:332px; width:384px; text-align:center; float:none}
.thumb_BeginStarted3_PNG {height:349px; width:368px; text-align:center; float:none}
