<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HDGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HDGraphiqueurGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HDGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HDGraph.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="OptionCalculMaxDepth" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="OptionDrawMaxDepth" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="OptionPrintSize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionAutoCompleteGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionAllowFolderDeletion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OptionDeletionAsk4Confirmation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionColorStyle" serializeAs="String">
        <value>Linear</value>
      </setting>
      <setting name="OptionMainWindowOpenState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="OptionMainWindowSize" serializeAs="String">
        <value>762, 592</value>
      </setting>
      <setting name="OptionToolbarLocation" serializeAs="String">
        <value>506, 24</value>
      </setting>
      <setting name="OptionShowFreeSpace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OptionShowSizesInHumanForm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionShowTooltips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionTextDensity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="OptionUseSimpleScanEngine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartupDrawEngine" serializeAs="String">
        <value>0959a259-3900-4ffe-ae6f-a9e3a63d2c6b</value>
      </setting>
    </HDGraph.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <switches>
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="traceLevelSwitch" value="1" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener"
              type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime"
              initializeData="HDGraph.log" />
        <!-- remove type="System.Diagnostics.DefaultTraceListener"/ !-->
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <HDGraph.Properties.Settings>
      <setting name="AvailableLanguages" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>en-US</string>
            <string>fr-FR</string>
          </ArrayOfString>
        </value>
      </setting>
    </HDGraph.Properties.Settings>
  </applicationSettings>
</configuration>